{%- include 'variables/page_url' -%}
{%- include 'variables/page_title' -%}
{%- include 'variables/page_description' -%}
{%- include 'variables/page_image' -%}
{%- include 'variables/content_type' -%}
<!doctype html>
<html lang="en">
  <head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if eleventyExcludeFromCollections -%}
    <meta name="robots" content="noindex">
    {%- endif %}
    <meta name="title" content="{{ page_title }}">
    <meta name="description" content="{{ page_description }}">
    {% include 'partials/meta-twitter-summary-card' %}
    {% include 'partials/meta-open-graph' %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="preload" href="/fonts/Barlow-Regular.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/fonts/Barlow-Bold.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/fonts/Redaction-Regular.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/fonts/Redaction-Italic.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="preload" href="/fonts/Redaction-Bold.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div role="document">
      {% include 'partials/global-header' %}
      <main class="main-content" role="main">
        {{ content }}
      </main>
      {% include 'partials/global-footer' %}
    </div>
    <script async defer type="module" src="/js/main.js" charset="utf-8"></script>
  </body>
</html>
